/* Ion.RangeSlider, Movie Crop skin
// css version 2.0.2
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}
.irs-with-grid {
    height: 80px;
}
.irs-line {
    height: 53px; top: 0;
    border: 1px solid #222;
    border-radius: 3px;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

/* chnaged from 49 to 61 - box-sizing: border-box */
.irs-bar {
    height: 61px; top: -3px; 
    border-top: 6px solid @rm;
    border-bottom: 6px solid @rm;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor: move;
}

.irs-slider {
    top: 0;
    width: 1px; height: 55px;
    background: rgba(0, 0, 0, 0.3);
}
.irs-slider.from {
    border-radius: 3px 0 0 3px;
}
.irs-slider.to {
    border-radius: 0 3px 3px 0;
}

.irs-from, .irs-to, .irs-single {
    top: -15px;
    color: @black;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
}

.irs-grid {
    height: 22px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #555;
    height: 4px;
}
.irs-grid-pol.small {
    background: #999;
    height: 2px;
}

.irs-grid-text {
    bottom: 5px;
    color: @grey;
}

.irs-disabled {
}
