/**
 * Movie Crop
 *
 * mc - Movie Crop namespace
 *
// ===================================================================================================================*/

@bg: #333;      // Цвет фонов
@rm: #900;      // Цвет рамки
@black: #333;   // Цвет текста
@grey: #555;    // Цвет текста сетки

@import "ion.rangeSlider.less";
@import "ion.rangeSlider.skinMovieCrop.less";

* {
     box-sizing: border-box;
}

.animated {
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

.mc {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 0;

    &-video {
        position: relative;
        margin-bottom: 95px;
        width: 100%; height: 100%;
        background: @bg url(../img/mc-preloader.gif) no-repeat 50% 50%;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    &-frames {
        position: absolute;
        margin-top: 15px;
        top: 100%; left: 0;
        width: 100%; height: 55px;
        background: lighten(@bg, 10%) url(../img/mc-frames-bg.png) repeat-x 50% 50%;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        &-cover {
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            opacity: 0.3;
            background-repeat: repeat-x;
            background-position: 0 0;

            &_state_loading {
                background: url(../img/mc-preloader.gif) no-repeat 50% 50%;
            }

            &_state_loaded {
                .animated;
                background-image: url(../img/mc-frames-mask.png);
                opacity: 1;
            }
        }

        &-ribbon {
            position: relative;
            display: table;
            width: 100%; height: 100%;
            border-radius: 3px;
            overflow: hidden;
            opacity: 1;
            visibility: visible;
            .animated;

            &_state_hidden {
                opacity: 0;
                visibility: hidden;
            }

            &__item {
                display: table-cell;
                vertical-align: top;
                background-position: 50% 50%;
                opacity: 0.9;
            }
        }

        &-range {
            position: absolute;
            top: 0; left: 0;
            width: 100%;

            &__input {
                position: absolute;
                display: block;
                top: 5px; left: 5px;
                z-index: -9999;
                opacity: 0;
            }
        }
    }
}