/**
 * Movie Crop
 *
 * mc - Movie Crop namespace
 *
// ===================================================================================================================*/
/* Ion.RangeSlider
// css version 2.0.1
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/
/* =====================================================================================================================
// RangeSlider */
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}
.irs-line-left,
.irs-line-mid,
.irs-line-right {
  position: absolute;
  display: block;
  top: 0;
}
.irs-line-left {
  left: 0;
  width: 11%;
}
.irs-line-mid {
  left: 9%;
  width: 82%;
}
.irs-line-right {
  right: 0;
  width: 11%;
}
.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}
.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}
.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}
.irs-slider.type_last {
  z-index: 2;
}
.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}
.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}
.irs-disabled {
  opacity: 0.4;
}
.lt-ie9 .irs-disabled {
  filter: alpha(opacity=40);
}
.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}
/* Ion.RangeSlider, Movie Crop skin
// css version 2.0.2
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/
/* =====================================================================================================================
// Skin details */
.irs {
  height: 55px;
}
.irs-with-grid {
  height: 80px;
}
.irs-line {
  height: 53px;
  top: 0;
  border: 1px solid #222;
  border-radius: 3px;
}
.irs-line-left {
  height: 8px;
}
.irs-line-mid {
  height: 8px;
}
.irs-line-right {
  height: 8px;
}
/* chnaged from 49 to 61 - box-sizing: border-box */
.irs-bar {
  height: 61px;
  top: -3px;
  border-top: 6px solid #990000;
  border-bottom: 6px solid #990000;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: move;
}
.irs-slider {
  top: 0;
  width: 1px;
  height: 55px;
  background: rgba(0, 0, 0, 0.3);
}
.irs-slider.from {
  border-radius: 3px 0 0 3px;
}
.irs-slider.to {
  border-radius: 0 3px 3px 0;
}
.irs-from,
.irs-to,
.irs-single {
  top: -15px;
  color: #333333;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
}
.irs-grid {
  height: 22px;
}
.irs-grid-pol {
  opacity: 0.5;
  background: #555;
  height: 4px;
}
.irs-grid-pol.small {
  background: #999;
  height: 2px;
}
.irs-grid-text {
  bottom: 5px;
  color: #555555;
}
* {
  box-sizing: border-box;
}
.animated {
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}
.mc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}
.mc-video {
  position: relative;
  margin-bottom: 95px;
  width: 100%;
  height: 100%;
  background: #333333 url(../img/mc-preloader.gif) no-repeat 50% 50%;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mc-frames {
  position: absolute;
  margin-top: 15px;
  top: 100%;
  left: 0;
  width: 100%;
  height: 55px;
  background: #4d4d4d url(../img/mc-frames-bg.png) repeat-x 50% 50%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mc-frames-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-repeat: repeat-x;
  background-position: 0 0;
}
.mc-frames-cover_state_loading {
  background: url(../img/mc-preloader.gif) no-repeat 50% 50%;
}
.mc-frames-cover_state_loaded {
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  background-image: url(../img/mc-frames-mask.png);
  opacity: 1;
}
.mc-frames-ribbon {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}
.mc-frames-ribbon_state_hidden {
  opacity: 0;
  visibility: hidden;
}
.mc-frames-ribbon__item {
  display: table-cell;
  vertical-align: top;
  background-position: 50% 50%;
  opacity: 0.9;
}
.mc-frames-range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.mc-frames-range__input {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  z-index: -9999;
  opacity: 0;
}
